
<div class="navrow">
	<div class="navbutton">
		<img src="<%= asset_path "feed/title_bar.png" %>" width="510" height="65"></img>
		<a href="/profile"></a>
	</div>
	<div class="navbutton" id="back">
		<img src="<%= asset_path "feed/titleBack.png" %>" width="185" height="65"></img>
	</div>
	<div id="refresh_button" class="navbutton">
		<img src="<%= asset_path "feed/refresh.png" %>" width="30" height="20"></img>
	</div>
</div>

<div class="navrow">
	<div class="navbutton">
		<a href="/content?facebook_id=<%= @wallpost_id[0] %>"></a>
		<div class="innerImage" width="50" height="50"><img src="<%= @pics[0] %>" width="35" height="35"></img></div>
		<div class="feedText"><span class="feedTextWideName"><%= @names[0] %></span></div>
		<div class="feedText"><span class="feedTextWideBody"><%= @messages[0] %></span></div>
		<div class="feedText"><span class="feedTextWideLikeComment">Likes: <%= @likes[0] %>  -  Comments: <%= @comments[0] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="222" height="150"></img>
	</div>
	<div class="navbutton">
		<a href="/content?facebook_id=<%= @wallpost_id[1] %>"></a>
		<div class="innerImage" width="50" height="50"><img src="<%= @pics[1] %>" width="35" height="35"></img></div>
		<div class="feedText"><span class="feedTextWideName"><%= @names[1] %></span></div>
		<div class="feedText"><span class="feedTextWideBody"><%= @messages[1] %></span></div>
		<div class="feedText"><span class="feedTextWideLikeComment">Likes: <%= @likes[1] %>  -  Comments: <%= @comments[1] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="222" height="150"></img>
	</div>
	<div class="navbutton">
		<a href="/content?facebook_id=<%= @wallpost_id[2] %>"></a>
		<div class="innerImage" width="50" height="50"><img src="<%= @pics[2] %>" width="35" height="35"></img></div>
		<div class="feedText"><span class="feedTextWideName"><%= @names[2] %></span></div>
		<div class="feedText"><span class="feedTextWideBody"><%= @messages[2] %></span></div>
		<div class="feedText"><span class="feedTextWideLikeComment">Likes: <%= @likes[2] %>  -  Comments: <%= @comments[2] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="222" height="150"></img>
	</div>
</div>

<div class="navrow">
	<div class="navbutton">
		<a href="/content?facebook_id=<%= @wallpost_id[3] %>"></a>
		<div class="innerImage" width="50" height="50"><img src="<%= @pics[3] %>" width="35" height="35"></img></div>
		<div class="feedText"><span class="feedTextWideName"><%= @names[3] %></span></div>
		<div class="feedText"><span class="feedTextWideBody"><%= @messages[3] %></span></div>
		<div class="feedText"><span class="feedTextWideLikeComment">Likes: <%= @likes[3] %>  -  Comments: <%= @comments[3] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="222" height="150"></img>
	</div>
	<div class="navbutton">
		<a href="/content?facebook_id=<%= @wallpost_id[4] %>"></a>
		<div class="innerImage" width="50" height="50"><img src="<%= @pics[4] %>" width="35" height="35"></img></div>
		<div class="feedText"><span class="feedTextWideName"><%= @names[4] %></span></div>
		<div class="feedText"><span class="feedTextWideBody"><%= @messages[4] %></span></div>
		<div class="feedText"><span class="feedTextWideLikeComment">Likes: <%= @likes[4] %>  -  Comments: <%= @comments[4] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="222" height="150"></img>
	</div>
	<div class="navbutton" style="padding:5px;">
		<a href="/newsfeed?offset=<%= @offset + 5 %>"></a>
		<img src="<%= asset_path "feed/older_posts.png" %>" width="111" height="150"></img>
	</div>
	<div class="navbutton" style="padding:5px;">
		<a href="/newsfeed<%if @offset > 0%>?offset=<%= @offset - 5 %><%end%>"></a>
		<img src="<%= asset_path "feed/newer_posts.png" %>" width="111" height="150"></img>
	</div>

</div>