<!doctype html>

<html>



<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-16">
<title> Keyboard Test </title>
</head>

<body>
<textarea id="message" cols="30" style="font-size: 200%" rows="1"></textarea>
<p />
<div class="row">
    <div class="button navbutton" style="width:74px" id="auto1">Option1</div>
    <div class="button navbutton" style="width:74px" id="auto2">Option2</div>
    <div class="button navbutton" style="width:74px" id="auto3">Option3</div>
    <div class="button navbutton" style="width:9px; font-size: 100%" id="enter">&#x23ce</div>
</div>

<div class="row">
    <div class="button navbutton" id="e">e</div>
    <div class="button navbutton" id="a">a</div>
    <div class="button navbutton" id="n">n</div>
    <div class="button navbutton" id="d">d</div>
    <div class="button navbutton" id="w">w</div>
    <div class="button navbutton" id="b">b</div>
</div> 

<div class="row"> 
    <div class="button navbutton" id="t">t</div>
    <div class="button navbutton" id="i">i</div>
    <div class="button navbutton" id="r">r</div>
    <div class="button navbutton" id="m">m</div>
    <div class="button navbutton" id="p">p</div>
    <div class="button navbutton" id="x">x</div>
</div>

<div class="row">
    <div class="button navbutton" id="o">o</div>
    <div class="button navbutton" id="h">h</div>
    <div class="button navbutton" id="u">u</div>
    <div class="button navbutton" id="y">y</div>
    <div class="button navbutton" id="j">j</div>
    <div class="button navbutton" id="1">1</div>
</div> 

<div class="row">
    <div class="button navbutton" id="s">s</div>
    <div class="button navbutton" id="c">c</div>
    <div class="button navbutton" id="g">g</div>
    <div class="button navbutton" id="k">k</div>
    <div class="button navbutton" id="z">z</div>
    <div class="button navbutton" id="&#x8" style="width:11px" id="bksp">&#x232b</div>
</div> 

<div class="row">
    <div class="button navbutton" id="&#x20">&#x23b5</div>
    <div class="button navbutton" id="l">l</div>
    <div class="button navbutton" id="f">f</div>
    <div class="button navbutton" id="v">v</div>
    <div class="button navbutton" id="q">q</div>
    <div class="button navbutton" style="width:11px"id="quit">quit</div>

</div>




</html>
