/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any850an be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navrow {
	border-radius: 9px;
	background-color: #f7f7f7;
	clear:both;
	width:815px;
}
.navbutton {
	border-radius: 9px;
	padding: 10px;
	display:inline-block;
}
.navselect {
	background: #5b79B8;
	border-radius: 9px;
	border: 1px solid #000000;
	margin: -1px;
}
.innerImage {
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
}
.innerImageCover {
	position: absolute;
	margin-left: 10px;
	margin-top: 7px;
}
.innerImageFriends {
	position: absolute;
	margin-left: 7px;
	margin-top: 8px;
}
.innerText {
	overflow: hidden;
	position: absolute;
	margin-top: 120px;
	width: 193px;
}
.innerRealText {
	overflow: hidden;
	text-align: center;
	display: inline-block;
	color: white;
	width: 193px;
	font-size: 18px;
	font-weight: bold;
}
.row {
    border-radius: 9px;
    /*background-color: #f7f7f7;*/
    clear:both;
    width: 575px;
}

.button {
    border-style: ridge;
    border-width: 3px;
    padding-right: 37px;
    padding-left: 37px;
    padding-bottom: 20px;
    display: inline-block;
    font-family: "Lucida Console";
    font-size: 120%;
}

#blanket {
	background-color:#111;
	opacity: 0.65;
	filter:alpha(opacity=65);
	position:absolute;
	z-index: 9001;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

#popUpDiv {
	position:absolute;
	background-color:#eeeeee;
	width:600px;
	height:400px;
	z-index: 9002;
	top:275px;
	left:120px;
}

.innerTextWide {
	overflow: hidden;
	position: absolute;
	margin-top: 0px;
	width: 290px;
}
.innerRealTextWideName {
	overflow: hidden;
	margin-top: 16px;
	margin-left: 70px;
	text-align: left;
	display: inline-block;
	color: #3b5998;
	width: 290px;
	font-size: 18px;
	font-weight: bold;
}

.innerRealTextWideBody {
	overflow: hidden;
	margin-top: 46px;
	margin-left: 10px;
	text-align: left;
	display: inline-block;
	color: #3b5998;
	width: 270px;
	font-size: 15px;
	line-height: 105%;
}

.innerRealTextWideLikeComment {
	overflow: hidden;
	margin-top: 92px;
	text-align: center;
	display: inline-block;
	color: #999999;
	width: 290px;
	font-size: 14px;
	font-weight: bold;
}



.feedText {
	overflow: hidden;
	position: absolute;
	margin-top: 0px;
	width: 222px;
}
.feedTextNotification {
	overflow: hidden;
	position: absolute;
	margin-top: 0px;
	width: 600px;
}
.feedTextWideName {
	overflow: hidden;
	margin-top: 16px;
	margin-left: 53px;
	text-align: left;
	display: inline-block;
	color: #3b5998;
	width: 222px;
	font-size: 15px;
	font-weight: bold;
}

.feedTextWideLowerName {
	overflow: hidden;
	margin-top: 120px;
	text-align: left;
	display: inline-block;
	color: #3b5998;
	width: 161px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.feedTextWideBody {
	overflow: hidden;
	margin-top: 55px;
	margin-left: 13px;
	text-align: left;
	display: inline-block;
	color: #3b5998;
	width: 202px;
	font-size: 14px;
	line-height: 105%;
}

.feedTextWideLikeComment {
	overflow: hidden;
	margin-top: 120px;
	text-align: center;
	display: inline-block;
	color: #999999;
	width: 222px;
	font-size: 14px;
	font-weight: bold;
}


