
<div class="navrow">
	<div class="navbutton">
		<img src="<%= asset_path "feed/title_bar.png" %>" width="510" height="65"></img>
		<a href="/profile"></a>
	</div>
	<div class="navbutton" id="back">
		<img src="<%= asset_path "feed/titleBack.png" %>" width="185" height="65"></img>
	</div>
	<div id="refresh_button" class="navbutton">
		<img src="<%= asset_path "feed/refresh.png" %>" width="30" height="20"></img>
	</div>
</div>

<div class="navrow">
	<div class=	"navbutton">
		<a href="/profile?facebook_id=<%= @user_id[0] %>"></a>
		<div class="innerImageFriends" width="50" height="50"><img src="<%= @picture[0] %>" width="147" height="110"></img></div>
		<div class="feedText"><span class="feedTextWideLowerName"><%= @name[0] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="161" height="150"></img>
	</div>
	<div class=	"navbutton">
		<a href="/profile?facebook_id=<%= @user_id[1] %>"></a>
		<div class="innerImageFriends" width="50" height="50"><img src="<%= @picture[1] %>" width="147" height="110"></img></div>
		<div class="feedText"><span class="feedTextWideLowerName"><%= @name[1] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="161" height="150"></img>
	</div>
	<div class=	"navbutton">
		<a href="/profile?facebook_id=<%= @user_id[2] %>"></a>
		<div class="innerImageFriends" width="50" height="50"><img src="<%= @picture[2] %>" width="147" height="110"></img></div>
		<div class="feedText"><span class="feedTextWideLowerName"><%= @name[2] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="161" height="150"></img>
	</div>
	<div class=	"navbutton">
		<a href="/profile?facebook_id=<%= @user_id[3] %>"></a>
		<div class="innerImageFriends" width="50" height="50"><img src="<%= @picture[3] %>" width="147" height="110"></img></div>
		<div class="feedText"><span class="feedTextWideLowerName"><%= @name[3] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="161" height="150"></img>
	</div>
</div>

<div class="navrow">
	<div class=	"navbutton">
		<a href="/profile?facebook_id=<%= @user_id[4] %>"></a>
		<div class="innerImageFriends" width="50" height="50"><img src="<%= @picture[4] %>" width="147" height="110"></img></div>
		<div class="feedText"><span class="feedTextWideLowerName"><%= @name[4] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="161" height="150"></img>
	</div>
	<div class=	"navbutton">
		<a href="/profile?facebook_id=<%= @user_id[5] %>"></a>
		<div class="innerImageFriends" width="50" height="50"><img src="<%= @picture[5] %>" width="147" height="110"></img></div>
		<div class="feedText"><span class="feedTextWideLowerName"><%= @name[5] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="161" height="150"></img>
	</div>
	<div class=	"navbutton">
		<a href="/profile?facebook_id=<%= @user_id[6] %>"></a>
		<div class="innerImageFriends" width="50" height="50"><img src="<%= @picture[6] %>" width="147" height="110"></img></div>
		<div class="feedText"><span class="feedTextWideLowerName"><%= @name[6] %></span></div>
		<img src="<%= asset_path "feed/outline.png" %>" width="161" height="150"></img>
	</div>
	<div class="navbutton" style="padding:5px;">
		<a href="/friends<%if @offset > 0%>?offset=<%= @offset - 7 %><%end%>"></a>
		<img src="<%= asset_path "my_profile/prev.png" %>" width="76" height="150"></img>
	</div>
	<div class="navbutton" style="padding:5px;">
		<a href="/friends?offset=<%= @offset + 7 %>"></a>
		<img src="<%= asset_path "my_profile/next.png" %>" width="76" height="150"></img>
	</div>

</div>