<div class="navrow">
	<div class="navbutton">
		<img src="<%= asset_path "my_profile/title_bar.png" %>" width="510" height="65"></img>
		<a href="/profile"></a>
	</div>
	<div class="navbutton" id="back">
		<img src="<%= asset_path "my_profile/titleBack.png" %>" width="185" height="65"></img>
	</div>
	<div id="refresh_button" class="navbutton">
		<img src="<%= asset_path "my_profile/refresh.png" %>" width="30" height="20"></img>
	</div>
</div> 

<div class="navrow">
	<div class="navbutton">
	<a href="/content?facebook_id=<%= @story_id[0] %>"></a>
	<div class="innerImage" width="75" height="75" style="padding-left:8px;"><img src="<%= @picture[0] %>" width="50" height="50"></img></div>
	<div class="feedText" style="padding-left:18px; padding-top:12px;"><span class="feedTextWideName" style="font-size:130%;width:200px;margin-top:-5px"><%= @names[0] %></div>
	<div class="feedTextNotification" style="margin-top:-14px; margin-left:60px; width=600px"><span class="feedTextWideBody" style="width:600px"><%= @message[0] %></span></div>
	<img src="<%= asset_path "my_profile/notification_object.png" %>" width="710" height="75"></img>
	</div>
</div>

<div class="navrow">
	<div class="navbutton">
	<a href="/content?facebook_id=<%= @story_id[1] %>"></a>
	<div class="innerImage" width="75" height="75" style="padding-left:8px;"><img src="<%= @picture[1] %>" width="50" height="50"></img></div>
	<div class="feedText" style="padding-left:18px; padding-top:12px;"><span class="feedTextWideName" style="font-size:130%;width:200px;margin-top:-5px"><%= @names[1] %></div>
	<div class="feedTextNotification" style="margin-top:-14px; margin-left:60px; width=600px"><span class="feedTextWideBody" style="width:600px"><%= @message[1] %></span></div>
	<img src="<%= asset_path "my_profile/notification_object.png" %>" width="710" height="75"></img>
	</div>
</div>

<div class="navrow">
	<div class="navbutton">
	<a href="/content?facebook_id=<%= @story_id[2] %>"></a>
	<div class="innerImage" width="75" height="75" style="padding-left:8px;"><img src="<%= @picture[2] %>" width="50" height="50"></img></div>
	<div class="feedText" style="padding-left:18px; padding-top:12px;"><span class="feedTextWideName" style="font-size:130%;width:200px;margin-top:-5px"><%= @names[2] %></div>
	<div class="feedTextNotification" style="margin-top:-14px; margin-left:60px; width=600px"><span class="feedTextWideBody" style="width:600px"><%= @message[2] %></span></div>
	<img src="<%= asset_path "my_profile/notification_object.png" %>" width="710" height="75"></img>
	</div>
</div>

<div class="navrow">
	<div class="navbutton">
	<a href="/content?facebook_id=<%= @story_id[3] %>"></a>
	<div class="innerImage" width="75" height="75" style="padding-left:8px;"><img src="<%= @picture[3] %>" width="50" height="50"></img></div>
	<div class="feedText" style="padding-left:18px; padding-top:12px;"><span class="feedTextWideName" style="font-size:130%;width:200px;margin-top:-5px"><%= @names[3] %></div>
	<div class="feedTextNotification" style="margin-top:-14px; margin-left:60px; width=600px"><span class="feedTextWideBody" style="width:600px"><%= @message[3] %></span></div>
	<img src="<%= asset_path "my_profile/notification_object.png" %>" width="710" height="75"></img>
	</div>
</div>

<div class="navrow">
	<div class="navbutton" style="padding:5px;">
			<a href="/notifications<%if @offset > 0%>?offset=<%= @offset - 4 %><%end%>"></a>
			<img src="<%= asset_path "my_profile/notifications_prev.png" %>" width="340" height="70"></img>
	</div>
	<div class="navbutton" style="padding:5px;">
			<a href="/notifications?offset=<%= @offset + 4 %>"></a>
			<img src="<%= asset_path "my_profile/notifications_next.png" %>" width="340" height="70"></img>
	</div>
</div>