
<div class="navrow">
	<div class="navbutton">
		<img src="<%= asset_path "single_content/title_bar.png" %>" width="510" height="65"></img>
		<a href="/profile"></a>
	</div>
	<div class="navbutton" id="back">
		<img src="<%= asset_path "single_content/titleBack.png" %>" width="185" height="65"></img>
	</div>
	<div id="refresh_button" class="navbutton">
		<img src="<%= asset_path "single_content/refresh.png" %>" width="30" height="20"></img>
	</div>
</div>

<div class="navrow">
	<div class="navbutton">
		<div class="innerImage" width="75" height="75" style="padding-left:8px;"><img src="<%= @profile_picture %>" width="50" height="50"></img></div>
		<div class="feedText" style="padding-left:18px; padding-top:5px;"><span class="feedTextWideName" style="font-size:130%;width:200px"><%= @name %>
		<% if @to_name %>
			&nbsp;>&nbsp;<%= @to_name %>
		<% end %>
		</span>
		</div>
		<% if @message %>
			<div class="feedText" style="margin-top:14px; margin-left:4px;"><span class="feedTextWideBody" style="width:<%= @picture ? '230px' : '430px' %>"><%= @message %></span></div>
			<% if @picture %>
				<div class="innerImage" width="100" height="75" style="padding-left:8px;"><img src="<%= @picture %>" width="175" height="130" style="margin-left:260px"></img></div>
			<% end %>
		<% elsif @picture_source %>
			<div class="feedText" style="margin-top:14px; margin-left:4px"><span class="feedTextWideBody"><%= @obj_name %></span></div>
			<div class="innerImage" width="100" height="75" style="padding-left:8px;"><img src="<%= @picture_source %>" width="175" height="130" style="margin-left:260px"></img></div>
		<% elsif @story %>
			<div class="feedText" style="margin-top:14px; margin-left:4px"><span class="feedTextWideBody"><%= @story %></span></div>
		<% end %>
		<div class="feedText" style="margin-top:70px; margin-left:0px"><span class="feedTextWideBody" style="font-size:100%;width:<%= @picture or @source ? '230px' : '430px' %>; text-align:center; color:#AAAAAA">Likes: <%= @likes_count %> &nbsp;Comments: <%= @comments_count %></span></div>
		<img src="<%= asset_path "single_content/content_outline.png" %>" width="468" height="150"></img>
	</div>
	<div class="navbutton" style="padding:5px;">
		<img src="<%= asset_path @likebuttonpic %>" width="111" height="150"></img>
	</div>
	<div class="navbutton" id="add_comment" style="padding:5px;">
		<img src="<%= asset_path "single_content/comment.png" %>" width="111" height="150"></img>
	</div>
</div>

<div class="navrow">
	<div class="navbutton">
		<div class="feedText" style="margin-top:-20px; margin-left:5px"><span class="feedTextWideBody" style="font-size:110%;width:190px;font-weight:bold"><%= @comments_from[0] %></span></div>
		<div class="feedText" style="margin-top:0px; margin-left:5px"><span class="feedTextWideBody" style="font-size:100%;width:190px"><%= @comments_text[0] %></span></div>
		<div class="feedText" style="margin-top:70px; margin-left:0px"><span class="feedTextWideBody" style="font-size:100%;width:190px; text-align:center; color:#AAAAAA">Likes: <%= @comments_likes[0] %></span></div>
		<img src="<%= asset_path @comment1pic %>" width="222" height="150"></img>
	</div>
	<div class="navbutton">
		<div class="feedText" style="margin-top:-20px; margin-left:5px"><span class="feedTextWideBody" style="font-size:110%;width:190px;font-weight:bold"><%= @comments_from[1] %></span></div>
		<div class="feedText" style="margin-top:0px; margin-left:5px"><span class="feedTextWideBody" style="font-size:100%;width:190px"><%= @comments_text[1] %></span></div>
		<div class="feedText" style="margin-top:70px; margin-left:0px"><span class="feedTextWideBody" style="font-size:100%;width:190px; text-align:center; color:#AAAAAA">Likes: <%= @comments_likes[1] %></span></div>
		<img src="<%= asset_path @comment2pic %>" width="222" height="150"></img>
	</div>
	<div class="navbutton" style="padding:5px;">
		<a href="/content?facebook_id=<%= @content['id'] %>&offset=<%= @offset + 2 %>"></a>
		<img src="<%= asset_path "single_content/older_comments.png" %>" width="111" height="150"></img>
	</div>
	<div class="navbutton" style="padding:5px;">
		<a href="/content?facebook_id=<%= @content['id'] %><%if @offset > 0%>&offset=<%= @offset - 2 %><%end%>"></a>
		<img src="<%= asset_path "single_content/newer_comments.png" %>" width="111" height="150"></img>
	</div>

</div>


<div id="blanket" style="display:none;"></div>
<div id="popUpDiv" style="display:none;">
<%= render :template => "shared/keyboard", :as => :keyboard %>
</div>



